.project-img {
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 0.5;
    -webkit-mask-image: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%) !important;
    mask-image: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%) !important;
}

.middle {
    transition: .5s ease;
    opacity: 1;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-body {
    padding: 2rem 1.25rem 0.5rem 1.25rem;
}

.project:hover .project-img {
    opacity: 1;
}

.project:hover .middle {
    opacity: 1;
    text-shadow: 0px 0px 10px white, 0px 0px 20px black;
}

.project:hover .middle span {
    transition: .5s ease;
    display: none;
}

.project #vivacity-noun {
    transition: 0.5s;
    opacity: 0;
    left: -50px;
    position: relative;
}

.project:hover #vivacity-noun {
    transition: 0.5s;
    opacity: 1;
    left: 0;
}

.hover-white:hover {
    color: #ffffffff !important;
    opacity: 1 !important;
}

/*!
 * Start Bootstrap - Grayscale v5.0.6 (https://startbootstrap.com/template-overviews/grayscale)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-grayscale/blob/master/LICENSE)
 */

:root {
    --rgbd: 10, 55, 120;
    --dark: rgb(var(--rgbd));
    --rgbl: 10, 115, 170;
    --light: rgb(var(--rgbl));
}

body {
    background: #222222;
}

#mainNav {
  min-height: 56px;
  background-color: #000000;
}

.navbar {
  padding: 0 .5rem !important;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: var(--light);
  border: 1px solid var(--light);
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: #161616;
  font-weight: 700;
  padding: .9rem 0;
  font-size: .9rem !important;
}

#mainNav .navbar-nav {
  flex-direction: row;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(black, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 0px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: 0;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link {
    -webkit-transition: none;
    transition: none;
    padding: .5rem .3rem;
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  #mainNav .nav-link:active {
    color: white;
  }
  #mainNav.navbar-shrink {
    background-color: rgba(0, 0, 20, 0.75);
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: var(--light);
  }
  #mainNav.navbar-shrink .navbar-brand:hover {
    color: #fffC;
  }
  #mainNav.navbar-shrink .navbar-brand:active {
    color: var(--light);
  }
  #mainNav.navbar-shrink .nav-link {
    color: var(--light);
    padding: .5rem .3rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #fffC;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: var(--light);
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: var(--dark);
    outline: none;
    border-bottom: 0.25rem solid var(--dark);
  }
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  /* background: linear-gradient(to bottom, rgba(0, 0, 15, 0.3) 0%, rgba(0, 0, 15, 0.5) 75%, rgba(0, 0, 15, 1) 100%), url("../assets/images/bg-masthead.jpg"); */
  background: linear-gradient(to bottom, rgba(0, 0, 15, 0) 0%, rgba(0, 0, 15, 0.3) 75%, rgba(0, 0, 15, 1) 100%), url("../assets/images/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead h1 {
  font-family: 'Comfortaa';
  font-size: 10vw;
  line-height: 2.5rem;
  letter-spacing: 0.25rem;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.masthead h2 {
  max-width: 30rem;
  font-size: 1rem;
}

@media (min-width: 375px) {
  .masthead h1 {
    font-size: 12vw;
    line-height: 4rem;
  }
}

@media (min-width: 600px) {
  .masthead h1 {
    font-size: 12vw;
    line-height: 6rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.1rem 1.8rem;
  font-family: 'Comfortaa';
  font-size: 80%;
  letter-spacing: .15rem;
  border: 0;
  margin: 0.2rem;
}

.btn-primary {
  background-color: rgba(var(--rgbd), 0.5);
}

.btn-primary:hover {
  background-color: rgba(var(--rgbl), 0.5);
}

.btn-primary:focus {
  background-color: rgba(var(--rgbl), 0.5);
  color: white;
}

.btn-primary:active {
  background-color: var(--dark) !important;
}

.about-section {
  /* padding-top: 10rem; */
  background: linear-gradient(to bottom, rgba(0, 0, 15, 1) 0%, rgba(0, 0, 15, 0.3) 50%, rgba(0, 0, 15, 0.3) 80%, rgba(0, 0, 15, 1) 100%), url("../assets/images/bg-about.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.about-section p {
  margin-bottom: 5rem;
}

.projects-section {
  padding: 3rem 0;
}

.projects-section .featured-text {
  padding: 2rem;
}

@media (min-width: 992px) {
  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid var(--light);
  }
}

.projects-section .project-text {
  padding: 3rem;
  font-size: 90%;
}

@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 5rem;
  }
  .projects-section .project-text hr {
    border-color: var(--light);
    border-width: .25rem;
    width: 30%;
  }
}

.signup-section {
  padding: 10rem 0;
}

.signup-section .form-inline input {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-family: 'Comfortaa';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.contact-section {
  padding: 10rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.9) 100%), url("../assets/images/bg-signup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.contact-section .card, .about-section .card {
  border: 0;
  border-bottom: 0.25rem solid var(--light);
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contact-section .card:hover, .about-section .card:hover {
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0.75;
}

.contact-section .card h4, .about-section .card h4 {
  font-size: 0.8rem;
  font-family: 'Comfortaa';
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.contact-section .card hr, .about-section .card hr {
  border-color: var(--light);
  border-width: 0.25rem;
  width: 3rem;
}

.contact-section .social, .about-section .social {
  margin-top: 5rem;
}

.contact-section .social a, .about-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}

.contact-section .social a:hover, .about-section .social a:hover {
  color: var(--dark);
}

.contact-section .social a:active, .about-section .social a:active {
  color: var(--dark);
}

body {
    font-family: 'Comfortaa', sans-serif;
    letter-spacing: 0.0625em;
}

h5 {
    font-family: 'Noto Serif', serif;
    font-size: 22px;
    font-style: italic;
}

a {
  color: var(--light);
}

a:focus, a:hover {
  text-decoration: none;
  color: white;
}

.bg-black {
  background-color: #080808 !important;
}

.bg-primary {
  background-color: var(--light) !important;
}

.text-primary {
  color: var(--light) !important;
}

footer {
  padding: 5rem 0;
}
