@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin-top: 20px;
    background: #2b2b30;
    color: #ffffff;
    font-family: "Noto Sans", Tahoma, sans-serif;
    font-size: 18px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

h2, h3 {
    font-family: 'Comfortaa', 'Noto Sans', serif;
}


.obliqueline {
  position: relative;
}
.obliqueline:before {
  position: absolute;
  content: "";
  left: 0;
  top: 40%;
  right: 0;
  border-top: 4px solid;
  border-color: inherit;
  transform: rotate(-10deg);
  color: #ff000099;
}


.author-photo {
    margin-bottom: 28px;
    text-align: center;
}
.author-photo img {
    height: 100px;
    max-width: 100px;
    border-radius: 50%;
    border: 5px solid #4481ca55;
    vertical-align: middle;
    margin: 15px;
}


@keyframes shake {
  2%, 18% {
    transform: translate3d(-1px, 0, 0);
  }

  4%, 16% {
    transform: translate3d(2px, 0, 0);
  }

  6%, 10%, 14% {
    transform: translate3d(-4px, 0, 0);
  }

  8%, 12% {
    transform: translate3d(4px, 0, 0);
  }
  20% {
      transform: translate3d(0, 0, 0);
  }
  100% {
      transform: translate3d(0, 0, 0);
  }
}


/* SMALL */

ul {
    list-style: none;
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    padding: 0;
}

.shake {
    animation: shake 4.1s cubic-bezier(.36,.07,.19,.97) infinite both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.i-t {
    background: #00000000 !important;
    /* border: solid 1px white; */
    width: 100% !important;
    max-width: 575px;
    margin: 10px 0 !important;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify !important;

}

.bg-nut {
    background: linear-gradient(to right, #a39a21, #256b6b) !important;
}

.bg-exe {
    background: linear-gradient(to right, #ca4444, #a57621) !important;
}

.bg-rst {
    background: linear-gradient(to right, #6144ca, #256b6b) !important;
}

.bg-ig-exe {
    background: linear-gradient(to right, #AB4E13, #8A9944) !important;
}

.i-s {
    display: inline-block;
    box-sizing: border-box;
    position: relative;

    text-align: left;
    font-size: 14px;

    background: linear-gradient(to right, #6144ca, #256b6b);
    /* border: 1px solid #bbbbbb; */
    /* box-shadow: 0 2px 3px #bbbbbb; */
    border-radius: 10px;

    width: 260px;
    margin: 10px;
}

.i-s .logo {
    float: left;
    padding: 15px 15px;
    min-width: 33px;
    text-align: center;
}

.i-s .logo img {
    border-radius: 50%;
    border: 0;
}

.i-s .title {
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    /* max-width: 150px; */
    vertical-align: middle;
    font-weight: bold;
    margin: 20px 0;
}

.i-s .title span {
    display: block;
    font-size: 12px;
    /* color: #dddddd; */
    padding-top: 5px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
    font-weight: normal;
}



/* BIG */

.i-b {
    display: block;
    max-width: 575px;
    margin-left: auto;
    margin-right: auto;
}

.i-v {
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
    max-width: 250px;
}

.i-b, .i-v {
    box-sizing: border-box;
    border-radius: 3px;
    text-align: left;
    background: linear-gradient(to right, #6144ca, #256b6b);
    /* border: 1px solid #bbbbbb; */
    /* box-shadow: 0 2px 3px #bbbbbb; */
    border-radius: 10px;
    overflow: hidden;

    font-size: 13px;

    margin-bottom: 20px;
    margin-top: 20px;
}

/* Article photo */

.rightfloat {
    float: right !important;
}

.i-b span, .i-v span {
    float: left;
    width: 200px;
    height: 200px;
    display: block;

    background-size: cover;
}

.i-b a div {
    max-width: 350px;
}

.i-v a div {
    width: 250px;
}

.i-b a div, .i-v a div {
    float: left;
    box-sizing: border-box;
    padding: 20px;
}

/* Article title */

.i-b div h2, .i-v div h2 {
    color: #ffffff
    font-size: 16px;
    overflow: hidden;
    //text-overflow: ellipsis;
    //white-space: nowrap;
    max-height: 90px;
    line-height: 28px;
    margin: 0;
}

/* Article excerpt */

.i-b div p, .i-v div p {
    line-height: 18px;
    color: #dddddd;

    overflow: hidden;
    /* max-height: 60px; */

    margin: 10px 0 0 0;
}

@media (max-width: 600px) {

    ul {
        max-width: 300px;
    }

    .i-b span {
        float: none;
        width: 100%;
        max-height: 200px;
    }

    .i-b a div {
        padding: 10px;
    }

}


.i-v ul {
    max-width: 150px;
}

.i-v span {
    float: none;
    width: 100%;
    height: 250px;
}

.i-v a div {
    padding: 10px;
    height: 120px;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #2b2b30;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #888;
  width: 100%; /* Could be more or less, depending on screen size */
  max-width: 250px;
}

/* The Close Button */
.close {
  color: #555555;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
