html, body {
	height: 100%;
	font-family: "Poppins", sans-serif;
	font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Poppins", sans-serif;
}
h1 {
	font-size: 70px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
p {
	font-size: 16px;
	font-family: "Poppins", sans-serif;
	color: #6b6b6b;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 15px 0;
}
img {
	max-width: 100%;
}
input:focus, select:focus, button:focus, textarea:focus {
	outline: none;
}
a:hover, a:focus {
	text-decoration: none;
	outline: none;
	color: #fff;
}
ul, ol {
	padding: 0;
	margin: 0;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}
.spad-2 {
	padding-top: 50px;
	padding-bottom: 70px;
}
.text-white h1, .text-white h2, .text-white h3, .text-white h4, .text-white h5, .text-white h6, .text-white p, .text-white span, .text-white li, .text-white a {
	color: #fff;
}

.latest-blog-section {
	padding-bottom: 50px;
}
.latest-blog-section .section-title {
	margin-bottom: 55px;
}
.latest-blog-section.recommend {
	padding-top: 0;
}
.latest-blog-section.recommend h3 {
	font-weight: 600;
	color: #111111;
	text-transform: uppercase;
	margin-bottom: 52px;
}

.footer-section {
	background: #111111;
	padding-top: 60px;
	padding-bottom: 30px;
}
.subscribe-option {
	overflow: hidden;
	padding: 0 45px;
	margin-bottom: 30px;
	margin-top: 43px;
}
.subscribe-option .so-text {
	float: left;
	padding: 34px 0 26px;
}
.subscribe-option .so-text h4 {
	color: #ffffff;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 6px;
}
.subscribe-option .so-text p {
	margin-bottom: 0;
	font-size: 14px;
	color: #ffffff;
}
.subscribe-option .subscribe-form {
	float: right;
	width: 340px;
	position: relative;
	margin: 37px 0;
}
.subscribe-option .subscribe-form input {
	width: 100%;
	height: 46px;
	font-size: 14px;
	color: #111111;
	border: 1px solid #ffffff;
	padding-left: 22px;
}
.subscribe-option .subscribe-form button {
	font-size: 18px;
	color: #ffffff;
	background: linear-gradient(to right,#3333cc, #4481ca);
	border: none;
	height: 46px;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0 22px;
}

.blog-section {
	padding-bottom: 50px;
}
.single-blog-item {
	margin-bottom: 42px;
}
.single-blog-item img {
	min-width: 100%;
	margin-bottom: 30px;
}
.single-blog-item .blog-widget {
	margin-bottom: 10px;
}
.single-blog-item .blog-widget .bw-date {
	font-size: 14px;
	color: #bdbdbd;
	display: inline-block;
	margin-right: 8px;
}
.single-blog-item .blog-widget .tag {
	font-size: 14px;
	color: #3333cc;
}
.single-blog-item h4 a {
	color: #111111;
	font-weight: 600;
	line-height: 30px;
}

.blog-details {
	padding-top: 50px;
}
.blog-details-hero {
	min-height: 520px;
	padding-top: 120px;
}

.video-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
	opacity: 0;
  }
  100% {
    transform: translateX(0);
	opacity: 1;
  }
}
#mainTitle {
	animation: 1.5s ease-out 0s 1 slideInFromLeft;
}
.bd-hero-text {
	text-align: left;
}
.bd-hero-text span {
	font-size: 12px;
	color: #ffffff;
	background: linear-gradient(to right,#3333cc, #4481ca);
	letter-spacing: 2px;
	border-radius: 5px;
	padding: 4px 16px;
	margin: 5px;
	display: inline-block;
	transition: all 0.4s;
}
.bd-hero-text span:hover {
	color: #111111;
	background: #ebebebaa;
	cursor: default;
}
.bd-hero-text h2 {
	color: #ffffff;
	font-size: 40px;
	font-weight: 600;
	line-height: 60px;
	margin-bottom: 15px;
}
.bd-text .bd-title {
	margin-bottom: 55px;
}
.bd-text .bd-title p {
	font-size: 17px;
	line-height: 30px;
}
.bd-text .bd-more-text {
	margin-bottom: 52px;
}
.bd-text .bd-more-text .bm-item h4 {
	font-weight: 600;
	column-rule: #111111;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.bd-text .bd-more-text .bm-item p {
	font-size: 17px;
	line-height: 30px;
}
.bd-text .bd-quote {
	background: linear-gradient(to right,#3333cc, #4481ca);
	padding: 40px 60px 30px 60px;
	position: relative;
	border-radius: 10px;
	z-index: 1;
	margin-bottom: 52px;
}
.bd-text .bd-quote p {
	font-size: 24px;
	color: #ffffff;
	line-height: 36px;
	margin-bottom: 23px;
}
.bd-text .bd-quote .quote-author h5 {
	color: #ffffff;
	margin-bottom: 4px;
}
.bd-text .bd-quote .quote-author span {
	font-size: 14px;
	color: #ffffff;
}
.bd-text .bd-last-para {
	margin-bottom: 55px;
}
.bd-text .bd-last-para p {
	font-size: 17px;
	line-height: 30px;
}
.bd-text .tag-share {
	overflow: hidden;
	border-top: 1px solid #ebebeb;
	padding-top: 30px;
	margin-bottom: 60px;
}
.bd-text .tag-share .tags {
	float: left;
}
.bd-text .tag-share .tags a {
	font-size: 12px;
	color: #111111;
	text-transform: uppercase;
	background: #ebebeb;
	letter-spacing: 2px;
	border-radius: 2px;
	padding: 4px 16px;
	display: inline-block;
	font-weight: 500;
	margin-right: 6px;
	transition: all 0.3s;
}
.bd-text .tag-share .tags a:hover {
	color: #ffffff;
	background: linear-gradient(to right,#3333cc, #4481ca);
	cursor: default;
}
.bd-text .tag-share .tags a:last-child {
	margin-right: 0;
}
.bd-text .tag-share .social-share {
	float: right;
}
.bd-text .tag-share .social-share span {
	font-size: 18px;
	color: #111111;
	display: inline-block;
}
.bd-text .tag-share .social-share a {
	color: #111111;
	display: inline-block;
	font-size: 16px;
	margin-left: 25px;
}
.bd-text .blog-author {
	margin-bottom: 30px;
	border-top: 1px solid #ebebeb;
	padding-top: 30px;
}
.bd-text .blog-author .ba-pic {
	background: #f7f7f7;
	padding: 28px 0;
	border-radius: 2px;
	text-align: center;
    padding-bottom: 35px;
}
.bd-text .blog-author .ba-pic img {
	height: 144px;
	width: 144px;
	border-radius: 50%;
	border: 10px solid #dddddd;
}
.bd-text .blog-author .ba-pic img:hover {
	border: 10px solid #aaaaaa;
}
.bd-text .blog-author .ba-text h5 {
	color: #111111;
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 12px;
}
.bd-text .blog-author .ba-text p {
	font-size: 17px;
	margin-bottom: 10px;
}
.bd-text .blog-author .ba-text .bt-social a {
	display: inline-block;
	font-size: 14px;
	color: #111111;
	margin-right: 25px;
}

/* Responsive Media Styles */

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

/* Medium Device: 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.services-item {
		padding-top: 70px;
		padding-left: 37px;
		padding-right: 30px;
	}
	.services-item img {
		left: 40px;
		top: 35px;
	}
	.services-item.pd-b {
		padding-top: 70px;
	}
	.single-trainer-item .trainer-text {
		width: 282px;
		transform: translateX(-141px);
	}
	.testimonial-section:after {
		width: 990px;
		transform: translate(-495px, -270px);
	}
	.footer-banner-item:after {
		width: 450px;
		transform: translate(-225px, -155px);
	}
	.bd-text .blog-author .ba-text {
		padding-top: 15px;
	}
}
@media only screen and (max-width: 991px) {
	.subscribe-option .so-text {
		float: none;
	}
	.subscribe-option .subscribe-form {
		float: none;
		margin: 5px 0 37px;
	}
}

/* Large Mobile: 480px */

@media only screen and (max-width: 767px) {
	.hero-text h1 {
		font-size: 65px;
	}
	.footer-banner-item:after {
		width: 450px;
		transform: translate(-225px, -155px);
	}
	.bd-text .tag-share .tags {
		float: none;
		margin-bottom: 10px;
	}
	.bd-text .tag-share .social-share {
		float: none;
	}
}
/* Small Mobile: 320px */

@media only screen and (max-width: 479px) {
	.hero-text h1 {
		font-size: 42px;
	}
	.footer-banner-item:after {
		width: 300px;
		transform: translate(-150px, -155px);
	}
	.footer-banner-item {
		padding-top: 28px;
	}
	.subscribe-option {
		padding: 0 15px;
	}
	.subscribe-option .subscribe-form {
		width: 260px;
	}
	.bd-text .tag-share .tags a {
		margin-bottom: 5px;
	}
}
